.image {
    pointer-events: none;
}

.brand-logo {
    width: 67%;
    justify-self: center;
}

.clothing-article-image {
    position: absolute;
    width: 75%;
    justify-self: center;
    align-self: center;
    -webkit-transform: translateZ(0);
}

.profile-image {
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    margin: auto;
    filter: drop-shadow(0 10px 10px rgba(0, 0, 0, 0.1));
}